<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aibi.bi.mapper.BiDatasetFieldMapper">

    <resultMap id="BiDatasetFieldMap" type="com.aibi.bi.domain.BiDatasetField">
        <id column="id" property="id"/>
        <result column="dataset_id" property="datasetId"/>
        <result column="field_name" property="fieldName"/>
        <result column="field_type" property="fieldType"/>
        <result column="field_label" property="fieldLabel"/>
        <result column="is_filterable" property="filterable"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="listByDatasetId" resultMap="BiDatasetFieldMap" parameterType="long">
        SELECT id, dataset_id, field_name, field_type, field_label, is_filterable, created_at
        FROM bi_dataset_field
        WHERE dataset_id = #{datasetId}
        ORDER BY id ASC
    </select>

    <delete id="deleteByDatasetId" parameterType="long">
        DELETE FROM bi_dataset_field
        WHERE dataset_id = #{datasetId}
    </delete>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO bi_dataset_field (dataset_id, field_name, field_type, field_label, is_filterable)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.datasetId}, #{item.fieldName}, #{item.fieldType}, #{item.fieldLabel}, #{item.filterable})
        </foreach>
    </insert>
</mapper>